<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Fox 🦊</title>
    <style type="text/css">
        body{
            margin: 20px auto;
            width: 500px;
            padding: 10px;
            font-family:  sans-serif;
            background: #545454;
            color: white;
            text-align: center;
        }
        img {
            border: 2px solid white;
        }
        a {
            text-decoration: underline;
            color: white;
        }
    </style>
</head>

<body>
    <fieldset>
        <legend><b>Random Fox </b>🦊</legend>
        <br>
        <!--Image-->
        <img src="<%= image %>" alt="Fox" width="200">
        <br>
        <!-- Share link -->
        <b>Copy the link to share:</b>
        <p><%= link %></p>
        <!--Reload button-->
        <button onclick="location.reload();">Reload</button>
        <br>
        <!--Credits-->
        <p>Made by <a href="https://coder-supriyo.web.app/">Supriyo</a> with 💙</p>
        <p>Powered by <a href="https://randomfox.ca/">https://randomfox.ca/</a></p>
    </fieldset>
</body>

</html>